latex_enduser_template/sample-manuscript.aux
latex_enduser_template/sample-manuscript.fdb_latexmk
latex_enduser_template/sample-manuscript.fls
latex_enduser_template/sample-manuscript.log
latex_enduser_template/sample-manuscript.synctex.gz
latex_enduser_template/sample-manuscript.bbl
latex_enduser_template/sample-manuscript.blg